/* ===== MAIN ===== */
.promocao {
    display: flex;
    height: 250px;
    margin: 10px;
    justify-content: space-evenly;
    align-content: center;
    border: solid 1px black;
    background: linear-gradient(to top left, white, var(--color-secundaria-claro));
}

.promocao p {
    font-size: 85px;
    font-weight: 600;
    margin-top: 45px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.produto {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 280px;
    margin: 40px 10px;
    box-shadow: 0px 2px 10px 1px gray;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
}

.produto:hover {
    height: 440px;
    width: 300px;
    margin: 0;
}

.produto img {
    padding: 2.5% 5%;
    max-width: 100%;
    max-height: 70%;
   
    
}

.descricao{
    display: flex;
    height: 15vh;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
}

.descricao h2 {
    padding: 0 5px;
    text-align: right;
    font-size: 1.6em;
    color: var(--color-primaria);
}
.descricao h3 {
    padding:  0 5px;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
}

.descricao h4 {
    font-size: 1em;
    font-weight: 400;
    text-align: right;
    padding: 0 5px;
}